/*font: https://fonts.google.com/specimen/Lexend+Deca#standard-styles*/

body{
  background: linear-gradient(to bottom right, #eef2ff, #edecec);

}

*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  /*background-color: black;*/
  font-family: 'Lexend Deca', sans-serif;
}
.logo{
  /*color: ;*/
  letter-spacing: 1px;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
}
.lines{
  display: none;
  cursor: pointer;
}
.lines div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 50%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .lines{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

section{
  width: 70%;
  margin:2.5rem auto 0;
}

.tabs{
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
  width: 100%;
  background-color: #edecec;
}

.tabs li{
  font-size: 1rem;
  font-size: 14px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  position: relative;
}

.tabs li::after{
  content: '';
  position: absolute;
  bottom: -20%;
  left:-1%;
  width:0%;
  height: 5px;
  background:#7854F7;
  border-radius: 30px;
  transition: width 0.5s ease;
}

.tabs li.active::after{
  width:104%;
}

.container{
position:relative;
width: 100%;
}

.content{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.content.active{
  width: 100%;
  position:relative;
  display: flex;
  animation:fade 1s ease ;
}
.container_left{
  width: 20rem;
  height: 32rem;
  background-color: #ffffff;
  border-radius: 3rem;
  box-shadow: 0 2px 16px rgba(0, 0,0, 0.3);
  position: absolute;
  top:0;
  left:50px;
}
.container_right_top {
 margin-left: 25rem;
 width: 55%;
 position: fixed;
 height: 32rem;
 display: inline-block;
 /*background-color: rgb(101, 61, 61);*/
}
.container_right_top .card{
  width: 12rem;
  height: 15rem;
  background-color: #ffffff;
  justify-content: space-around;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  /*margin-top: 1rem;*/
  border-radius: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-block;
  box-shadow: 0 2px 16px rgba(0, 0,0, 0.3);
}



.content img{
  height: 20rem;
  text-align: center;
}

.content p{
  font-size: 1.5rem;
  text-align: center;
  width: 70%;
  margin:1rem auto 0rem;
  color: black;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

@media screen and (max-width:800px){
  html{
    font-size: 70%;
  }
  section{
    width: 100%;
  }
  
}




/*section{
/*body{
  background-color: #deeeff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  position: absolute;
  left: 23.333%;
  right: 23.333%;
  top: 23.333%;;
  width: 1200px;
  background-color: white; 
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0,0, 0.1);
  border-radius: 20px;
}

.tab_box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(229, 229,229);
}

.tab_btn{
  font-size: 18px;
  font-weight: 600;
  color: gray;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.tab_box .tab_btn.active{
  color: #7360ff;
}

.content_box{
  padding: 20px;
}
.content{
  display: none;
}
.content h2{
  margin-bottom: 10px;
}*/
